
body{
	width: 100%;
    background-color: #000000;
    font-family: Monaco;
    font-size: 0.9em;
    text-align: center;
    margin: 0;
}

#message, #status {
    height: 30px;
    line-height: 30px;
    margin: 0 15px -30px 15px;
}

#message {
    text-align: left;
    font-size:1.0em;
    font-weight:bold;
    color:#23A4FF;
}

#status {
    text-align: right;
    color:#ccc;
}

#treesvg {
    width: 100%;
    margin-top: 30px;
}

#g_labels text{
	text-anchor: middle;
}

svg line{
  stroke: #23a4ff;
  stroke-width: 0.7px;
}

svg text {
    fill: #ffffff;
    height: 20px;
    line-height: 20px;
}

svg rect {
    height: 20px;
}

text.production {
    fill: #23a4ff;
}

text.production_self {
    font-size: 1.2em;
    fill: #ffff00;
}

text.separator{
    font-size: 1em;
    fill: #cccccc;
}

text.token_char, text.token_expression {
    fill: #c3a75f;
}

text.other_string {
    fill: green;
}

text.production:hover, text.token_char:hover, text.token_expression:hover,
rect.production:hover, rect.token_char:hover, rect.token_expression:hover {
    cursor: pointer;
}
